<h1>¡Gracias por tu Compra!</h1>
<p>Tu pedido ha sido recibido y está siendo procesado.</p>

<h2>Información del Envío</h2>
<p>La Información de tu pedido será enviado a el mail proporcionado a la brevedad. Puedes esperar recibir una confirmación de envío con el número de seguimiento.</p>

<p>Si tienes alguna pregunta, no dudes en contactarnos.</p>

<a href="/products">Volver a la tienda</a>
